<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.managerlee.assessment">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".framework.config.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".index.IndexActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".article.ArticleSubmissionActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".article.ArticleSubmissionHisActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".article.SearchActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".setting.AccountBindActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".setting.SettingActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".task.TaskCommentActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".task.TaskDetailActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".task.TaskReleaseActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>